.set_of_links{

    background-color: #333333;

    display: flex;
    justify-content: space-around;

    padding: 1em;
    
    border-bottom: #f97316 solid 5px;

    overflow: auto;
    
}

.single_link{


    text-align: center;
    border: solid white 1px;
    border-radius: .90em;
    padding: .5em;

    width: 100px;
    min-width: max-content;
   

}